/* Contact.css */
.contact-container {
  display: flex;
  list-style: none;
}

.icon-container {
  text-align: center;
  margin-top: 1rem;
}

.contact-icon {
  width: 4rem;
  height: 1.6rem;
}

.contact-text {
  margin: 0;
  font-size: 0.8em;
  color: #333;
}
