/* .header {
  background-color: #222222;
  height: 13vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.header nav ul li {
  display: inline;
}

.header nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 2rem;
}

.header nav ul li a:hover,
.header nav ul li a.selected {
  text-decoration: underline;
} */
