.landingpage__container {
  background-color: var(--white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  min-height: 65vh;
  padding: 1rem;
}

.landingpage__container.fadeInAnimation {
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header__container {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 55%;
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__h1 {
  font-size: 3rem;
  font-weight: bold;
  position: relative;
}

.header__small {
  min-width: 9rem;
  background-color: white;
  text-align: center;
  position: relative;
  top: -1.2rem;
  justify-content: center;
  margin-top: 0.7rem;
}

.header__p {
  font-size: medium;
  font-family: montserrat;
  text-align: center;
  margin-top: 0.4rem;
}

.introduction {
  margin-left: 0.6rem;
  display: flex;
  flex-direction: column;
}

.landingpage__h2 {
  font-size: large;
  font-family: montserrat;
  margin-top: 0.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: center;
}

.contact-links {
  display: flex;
  flex-direction: row;
}

.ul.contact-container {
  justify-content: center;
  align-items: center;
}

.icon-container {
  align-items: center;
  justify-content: center;
}

.scroll__down {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 3rem;
  height: 9rem;
  border: none;
  z-index: 1000;
}

.landingpage__p {
  color: rgb(83, 141, 143);
  text-align: center;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .landingpage__container {
    background-color: var(--gray);
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    min-height: 99vh;
    padding: 7rem;
  }

  .hero {
    width: 35%;
    margin-left: 4rem;
  }

  .header__h1 {
    font-size: 5rem;
  }

  .header__container {
    justify-content: left;
    align-items: baseline;
    margin-top: 2rem;
  }

  .header__small {
    width: 50%;
  }

  .landingpage__content {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 7rem;
  }

  .landingpage__h2 {
    font-size: xx-large;
    font-family: "montserrat";
  }

  .landingpage__p {
    color: rgb(83, 141, 143);
  }

  .landingpage__briefcase {
    display: flex;
    margin-top: 1rem;
  }

  .skills__container {
    margin-top: 2rem;
    align-self: flex-end;
  }

  .landingpage__p {
    color: rgb(83, 141, 143);
    font-size: larger;
    text-align: left;
  }

  .contact-container {
    justify-content: left;
    margin-top: 1rem;
  }

  .skill-item .icon {
    width: 70%; /* Adjust the width as needed */
  }

  /* Styles for scroll__down iframe */
  .scroll__down {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 30rem;
    border: none;
    z-index: 1000;
  }

  .header__small {
    min-width: 28rem;
    background-color: white;
    position: relative;
    top: -2.3rem;
    justify-content: center;
    margin-top: 0.7rem;
  }

  .landingpage__h2 {
    font-size: x-large;
    font-family: montserrat;
    margin-top: 0.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: left;
  }
}
