.landingpage__container {
  background-color: var(--gray);
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  min-height: 96vh;
  padding: 7rem;
}

.hero {
  width: 35%;
  margin-left: 4rem;
}

.landingpage__content {
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-left: 7rem;
}

.landingpage__h2 {
  font-size: xx-large;
  font-family: "montserrat";
}

.landingpage__p {
  color: rgb(83, 141, 143);
}

.landingpage__briefcase {
  display: flex;
  margin-top: 1rem;
}
