.icon_container {
  display: flex;
  align-items: center;
}

.icon {
  width: 30%;
  height: auto;
}

ul.skill-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li.skill-item {
  width: 14rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
