/* Skills.css */

/* Container for each icon and skill name pair */
.icon_container {
  display: flex;
  align-items: center;
}

/* Style for each icon */
.icon {
  width: 50%;
  height: auto;
}

/* List of skills */
ul.skill-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to new row if they exceed container width */
  justify-content: space-evenly;
}

li.skill-item {
  width: 15rem; /* Adjust width as needed */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
